.form__fieldset {
    max-width: 385px;
    padding-bottom: 120px;  
}

.form__label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 8px;
}

.form__input {
    border-radius: 4px; 
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 32px;
    height: 60px;
}

.form__button {
    border-radius: 4px; 
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    max-width: 385px;
    height: 60px; 
    padding: 12px 32px; 
    background-color: #2F80ED; 
    color: white; 
    border: none; 
}

.form__checkbox {
    border-radius: 2px; 
    gap: 12px;
    width: 20px;
    height: 20px;
    margin-right: 12px;

}

.form__label--checkbox {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.form__checkbox:checked {
    background-color: #2F80ED; 
    background-image: url('check.svg'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
}

.form__input::placeholder {
    color: #838383; 
    opacity: 1; 
}
