.header {
    display: flex;
    flex-direction: column;
    min-height: 720px;
    max-height: 800px;
    position: relative;
    box-sizing: border-box;
}

.header__title {
    font-family: "Arial sans-serif";
    max-width: 729px;
    margin: 80px;
    font-size: 60px;
    line-height: 72px;
    margin: 183px 0 0 80px;
    font-style: normal;
    font-weight: 500;
    
}

.span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED; 
}

.header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin: 28px 0 0 80px;
}

.header__image { 
    max-width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px; 
    border-radius: 80%;
}

.header__footer {
    z-index: 1;
    margin-top: auto;
    margin-left: 80px;
    margin-bottom: 40px;
    margin-right: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
     font-size: 16px;
    line-height: 20px;
    color: #838383;
}