.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: 39px;
    width: 105px;
    margin: 30px 30px 0;
    position: relative;
    display: flex;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: baseline;
    column-gap: 20px;
    margin: 30px 80px 0 ;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    display: block;
    cursor: pointer;
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}