.page { 
    min-width: 1100px;
    max-width: 1600px ;
    margin: auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    background-image: url(../images/background_header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;     
}