.recipes {
    background: url(../images/background_recipes.svg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;   
    background-color: #0a2750;
}

.recipes__title {
    color: #FFFFFF;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    padding: 100px 80px 24px;
    margin: 0;
    text-align: justify;
    max-width: 580px;
}

.recipes__subtitle {
    max-width: 438px;
    color: #FFFFFF;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin: 0 80px 80px;
}

.recipes__videos {
    display: flex;
    padding: 0 0 215px;
    margin: 0;
    height: 350px;
    gap: 40px;
    justify-content: center;
}

.recipes__video-item {
    padding: 0;
    list-style: none;
}

.recipes__iframe {
    margin: 0;
    padding: 0;
    width: 480px;
    height: 273px;
}

.recipes__video-caption {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 0;
    margin: 24px 0 0;
}